/**

Legacy css, kept for reference while migrating.
NOT USED.

*/


/** Transferred */

.vjs-controls {
    z-index: 1;
}
.vjs-seek-handle {
    z-index: 4;
}

.annotationBar {
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
}

.barQuickLink {
    position: absolute;
    height: 100%;
    background-color: #FFE000;
    opacity: 0.75;
    z-index: 3;
}

.barQuickLink:hover {
    border: 1px solid #D06000;
    height: 80%;
}

.barQuickLink>.hl-tooltip {
    position: absolute;
    background-color: black;
    border: 1px solid #F0F0F0;
    bottom: 12px;
    font-size: 10pt;
    display: none;
}

.displayFrame {
    border:  none;
    width: 100%;
    height: 100%;
}



.hoverMenu.widget {
    display:none
}
body:hover .hoverMenu.widget {
    display:block
}

.v_set .hoverMenu {
    position: absolute;
    right: 3px;
    padding: 3px;
    top: 4px;
}

.hoverMenu>div {
    margin: 5px;
    opacity: 0.8;
}

.hoverMenu>div:hover {
    opacity: 1;
}


.hoverMenu {
    position: fixed;
    right: 49px;
    top: 4px;
    z-index: 9000;
    box-shadow: 1px 1px 8px 0px #000;
    background-color: black;
    padding: 5px;
}

/** ----------------- */


.hlcontainer {

}

.overlay {
    position: relative;
    top: 0px;
    left:0px;
    z-index: 0;
    pointer-events: none;
}



.link {

}
.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.draggable {

}

.fixedPanel {
    position: fixed;
    z-index: 5;
}

.actions {
    float: right;
}

/* fix buttons position in bootstrap navbars */
.navbar .btn, .navbar .btn-group {
    margin-top: 8px;
}
.navbar .dropdown .btn {
    margin-top: 0px;
}

i {
    vertical-align: text-bottom;
}

/* CodeMirror fix */

.CodeMirror-scroll {
    height: auto;
}


.jstree a {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    width: 75%;
}

.jstree a:hover{
    z-index: 10;
    position: absolute;
    width: 75%;
    width: auto;
    height: auto;
    white-space: normal;
}

.jstree ins {
    vertical-align: top;
}

.well {
    border: 1px solid #A0A0A0;
}


.tooltip-inner,.tooltip-arrow {
    border: 1px solid #A0A0A0;
}

/**
Override JQuery JSTree display

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #666666; background: #555555 url(images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eeeeee; }

    */


.v_set {


}

.v_text {
    float:none;
}


table
{
    border-collapse: collapse; /* 'cellspacing' equivalent */
    font: inherit;
}

table td, table th
{
    padding: 0; /* 'cellpadding' equivalent */
}


/*
.hoverMenu>div:last-child {
    position: absolute;
    right:2em;
    top:1em;

}

.hoverMenu>div:last-child>div:first-child {
    position:absolute; z-index:-1; width: 100%; height: 100%; background-color: white; opacity: 0.8
}
*/



label {
    position: absolute;
    padding: 1px 3px;
    color: #808080;
}

.deckList {
    padding-top: 0.5em;
    margin-bottom: 1em;
}

.deck {
    border: 1px solid #A0A0A0;
    background-color: #E0E0E0;
}

.deck:hover {
    border: 1px solid #4889a3;
    background-color: #8dc6e0;
}

.deck.selected {
    background-color: #f3e276;
}

.deckItemBlock {
    margin-top: 0.5em;
    border-bottom: 1px solid #808080;
}

.details>.header {
    background-color: #f3e276;
}

.details>.header>.modifiedDate {
    text-align: right;
    font-size: smaller;
}

.details>.content {

}

.details .annotation {
    background-color: #E0E0E0;
    border-bottom: 1px solid #A0A0A0;
}

.details .annotation:hover {
    background-color: #8dc6e0;
}

.details .annotation .description {
    margin-left: 1em;
    font-size: 80%;
    font-style: italic;
}


.linkIcon24 {
    background-image: url("../images/doublelink24.png");
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    display: inline-block;
}

.toAnnot.linkIcon24 {

}
.fromAnnot.toAnnot.linkIcon24 {
    background-position: -48px 0px;
}
.fromAnnot.linkIcon24 {
    background-position: -24px 0px;
}



/* OpenLayers specifics */
.olMap label {
    position: relative;
    display: inline;
}

.olControlLayerSwitcher {
    width: auto
}