

.hoverMenu.widget {
    display:none;
    color: white
}
.fragmentsContainer:hover .hoverMenu.widget {
    display:block
}

.hoverMenu {
    position: fixed;
    right: 49px;
    top: 4px;
    z-index: 9000;
    box-shadow: 1px 1px 8px 0px #000;
    background-color: black;
    padding: 5px;
}

/** originally meant only within viewer set */
.hoverMenu {
    position: absolute;
    right: 3px;
    padding: 3px;
    top: 4px;
}

.hoverMenu i {
    margin: 5px;
    opacity: 0.8;
}

.hoverMenu i.selected {
    color: rgb(131, 230, 131);
}

.hoverMenu i:hover {
    opacity: 1;
}

/*
.hoverMenu>div:last-child {
    position: absolute;
    right:2em;
    top:1em;

}

.hoverMenu>div:last-child>div:first-child {
    position:absolute; z-index:-1; width: 100%; height: 100%; background-color: white; opacity: 0.8
}
*/

.hoverMenu>div {
    margin: 5px;
    opacity: 0.8;
}

.hoverMenu>div:hover {
    opacity: 1;
}



/** HTML Viewer styling */

.displayFrame {
    border:  none;
    width: 100%;
    height: 100%;
}


/** VideoJS styling */


/*
.vjs-controls {
    z-index: 1;
}
.vjs-seek-handle {
    z-index: 4;
}
*/

.vjs-slider {
    /* make sure the slider overlays the annotation bar to receive events */
    z-index: 2;
}


.vjs-progress-control {

}

.annotationBar {
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
}

.barQuickLink {
    position: absolute;
    height: 100%;
    background-color: #FFE000;
    opacity: 0.75;
    z-index: 3;
    /* make sure zero-length annotations are still displayed */
    min-width: 3px;
}

.barQuickLink:hover, .barQuickLink.active {
    border: 1px solid #D06000;
    /*height: 80%;*/
}

.barQuickLink>.hl-tooltip {
    position: absolute;
    background-color: black;
    border: 1px solid #F0F0F0;
    bottom: 12px;
    font-size: 10pt;
    display: none;
}

.barQuickLink:hover>.hl-tooltip, .barQuickLink.active>.hl-tooltip {
    display: block;
}


/* d3 styling */

svg .bar {
    fill: #8080F0
}
svg .bar:hover {
    fill: #B01010
}

.viewerContainer {
    overflow: auto;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
}

.htmlViewerContainer {

    height: 100%;
}

.htmlViewerContainer .annotationLayer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.htmlViewerContainer .annotationLayer div {
    pointer-events: all;
}

.pdfViewerContainer {
    -webkit-overflow-scrolling: touch;
}

.pdfViewerContainer:fullscreen {
    border-top: 2px solid transparent;
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: none;
    -webkit-user-select: none;
}


.pdfViewer .annotationLayer {
    top: 0;
    position: absolute;
}

.dataTables_scrollHeadInner {
    margin: auto auto;
}