
.widget {
    /*
    position: fixed;
    margin-top: 2em;
    */

    z-index: 30000;
    text-align: center;
}

.widgetFrame {
    -webkit-box-shadow:  1px 1px 8px 0px #000;
    -moz-box-shadow:  1px 1px 8px 0px #000;
    box-shadow:  1px 1px 8px 0px #000;
    border: none;
}

.widget .actionBar {
    position: absolute;
    z-index: 1101;
    background-color: black;
    overflow: hidden;
    display: none;
    right: 4px;
    top: 4px;
    box-shadow: 1px 1px 8px 0px #000;
}

.widget .actionBar [class^="action-"],
.widget .actionBar [class*=" action-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../ecmascript/extlibs/bootstrap/img/glyphicons-halflings-white.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;

    margin: 5px;
    opacity: 0.8;
}

.widget .actionBar [class^="action-"]:hover,
.widget .actionBar [class*=" action-"]:hover {
    opacity: 1;
}


.widget .actionBar .action-dragger {
    z-index: 1101;
    cursor: move;
    float:right;

    background-position: -168px -72px;
}



.widget .actionBar .action-closer {
    z-index: 1102;
    cursor: pointer;
    float:right;

    background-position: -312px 0;
}


.annot {
    border: 1px solid rgb(181, 198, 209);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
}

.annot:hover,.annot.active {
    border: 1px solid #517697;
    -webkit-box-shadow:  1px 1px 6px rgba(0,0,0,0.3);
    -moz-box-shadow:  1px 1px 6px rgba(0,0,0,0.3);
    box-shadow:  1px 1px 6px rgba(0,0,0,0.3);
}

.annot>div:first-child {
    width: 100%;
    height: 100%;
    background-color: #7babd2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 0.03;
}
.annot:hover>div:first-child,.annot.active>div:first-child {
    opacity: 0.15;
}

.annot .actionBar {
    display: none;
}

.annot .details {
    display:none;

    z-index: 10;
    float: right;
    margin-right: 2em;
    border: 1px solid;
    padding: 2px;
    background-color: white;
    top: -5px;
    position: relative;

    -webkit-box-shadow:  1px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow:  1px 1px 4px rgba(0,0,0,0.3);
    box-shadow:  1px 1px 4px rgba(0,0,0,0.3);
}

.annot:hover .details,.annot.active .details, .annot.olPopup .details {
    display:block
}

.linkIcon32 {
    position: absolute;
    right: -10px;
    top:-18px;

    /* background-image: url("../images/doublelink32.png"); */
    width: 32px;
    height: 32px;

    opacity: 0.4;
}

.annot:hover .linkIcon32,.annot.active .linkIcon32 {
    opacity: 1;
}

.annot.toAnnot .linkIcon32 {

}
.annot.fromAnnot .linkIcon32 {
    background-position: -32px 0px;
}
.annot.fromAnnot.toAnnot .linkIcon32 {
    background-position: -64px 0px;
}

.scrolllinks {
    height: 100%;
    width: 15px;
    position: fixed;

    background-color: #eeefea;

    opacity: 0.6;
}

.scrolllinks:hover {
    opacity: 1;
}

.scrolllink {
    height: 3px;
    width: 100%;
    background-color: #1c70e5;
    opacity: 0.5;
    position: absolute;
}

.scrolllink:hover {
    opacity: 1;
    cursor: pointer;
}
