

<script>
    document.currentScript.ownerDocument.exampleScript = function() {
        FRAGVIZ.VIEWERS.displayResource("#theContainer", FRAGVIZ.RESOURCE.FROMURI("http://geoservices.wallonie.be/arcgis/rest/services/EAU/ALEA_2013/MapServer#bbox=4.225,50.675,4.235,50.685"))

        window.annotation = {description:'description', name:'Test', fragment:FRAGVIZ.UTILS.parseFragment('#id=529307')}
        $('#theContainer')[0].curViewer.onReady(function(viewer) {
            viewer.displayAnnotation(annotation)
            viewer.refreshAnnotations()
        })
        window.annotation2 = {description:'description', name:'Test2', fragment:FRAGVIZ.UTILS.parseFragment('#bbox=4.232,50.679,4.233,50.681')}
        $('#theContainer')[0].curViewer.onReady(function(viewer) {
            viewer.displayAnnotation(annotation2)
            viewer.refreshAnnotations()
        })

    }

</script>

<div id="exampleContent">
    <a href="#"
       onclick="$('#theContainer')[0].curViewer.gotoFragment(annotation.fragment)"
       onmouseover="$('#theContainer')[0].curViewer.toggleAnnotationHighlight(annotation, true)"
       onmouseout="$('#theContainer')[0].curViewer.toggleAnnotationHighlight(annotation, false)">
        Fragment 1</a><br/>
    <a href="#"
       onclick="$('#theContainer')[0].curViewer.gotoFragment(annotation2.fragment)"
       onmouseover="$('#theContainer')[0].curViewer.toggleAnnotationHighlight(annotation2, true)"
       onmouseout="$('#theContainer')[0].curViewer.toggleAnnotationHighlight(annotation2, false)">
        Fragment 2</a><br/>
    <a href="#"
       onclick="$('#theContainer')[0].curViewer.captureFragment(
        function(fragment) {
            $('#captured').val(FRAGVIZ.UTILS.encodeHash(fragment.hash))
            })">
        Capture</a><input id="captured"/><br/>
    <a href="#"
       onclick="$('#theContainer')[0].curViewer.displayAnnotation({description:$('#annotText').val(), name:'Test', fragment:FRAGVIZ.UTILS.parseFragment('#'+$('#captured').val())})">
        Add</a><input id="annotText"/><br/>
</div>