

<script>
    document.currentScript.ownerDocument.exampleScript = function() {
        FRAGVIZ.VIEWERS.displayResource("#theContainer", FRAGVIZ.RESOURCE.FROMURI("http://www.crsenne.be/pdf/plateforme%20inondation%2026-08-2014.pdf"))

        window.annotation = {description:'description', name:'Test', fragment:FRAGVIZ.UTILS.parseFragment('#page=2&xywh=65,490,470,55')}
        $('#theContainer')[0].curViewer.onReady(function(viewer) {
            viewer.displayAnnotation(annotation)
            viewer.refreshAnnotations()
        })

    }

</script>

<div id="exampleContent">
    <a href="#"
       onclick="$('#theContainer')[0].curViewer.gotoFragment(annotation.fragment)"
       onmouseover="$('#theContainer')[0].curViewer.toggleAnnotationHighlight(annotation, true)"
       onmouseout="$('#theContainer')[0].curViewer.toggleAnnotationHighlight(annotation, false)">
        Fragment 1</a><br/>
    <a href="#"
       onclick="$('#theContainer')[0].curViewer.captureFragment(
        function(fragment) {
            $('#captured').val(FRAGVIZ.UTILS.encodeHash(fragment.hash))
            })">
        Capture</a><input id="captured"/><br/>
    <a href="#"
       onclick="$('#theContainer')[0].curViewer.displayAnnotation({description:$('#annotText').val(), name:'Test', fragment:FRAGVIZ.UTILS.parseFragment('#'+$('#captured').val())})">
        Add</a><input id="annotText"/><br/>
</div>